html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(53, 54, 58);
  font-family: monospace;
  font-size: 16px;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#gameTitle {
  color: white;
}


#initialScreenMessage {
  color: white;
}

#chatBox {
  display: none;
  font-size: 14px;
  font-family: monospace;
  width: 300px;
  opacity: 0.8;
}

#chatBox input {
  padding: 3px;
  width: 300px;
}

#messages {
  display: block;
  color: white;
  background-color: #21313CDD;
  list-style: none;
  margin: 0;
  height: 150px;
  padding: 10px 0px 10px 10px;
  overflow: scroll;
  border-radius: 5px;
}

/* Mini Game Lobby Screen */
#MiniGameInitialScreen {
  display: none;
  width: 800px;
  height: 600px;
  left: 0;
  top: 0;
}

#playersInLobby {
  margin-top: 300px;
  width: 100%;
}

#playersInLobby tr {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px, 10px, 10px, 10px;
  color: #ff8000;
}


#waitingMessage {
  width: 100%;
  margin-top: 1px;
  text-align: center;
  color: #ff8000;
}

#startButton {
  display: none;
  margin-top: 10px;
}

#exitButton {
  position: fixed;
  left: 16px;
  top: 16px;
}


/* Mini Game Screen */
#MiniGameScreen {
  display: none;
  background-color: black;
  width: 800px;
  height: 600px;
}

#canvasWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#MiniGameCanvas {
  border: 12px solid #779691;
  border-radius: 2px;
}

#HUD-left {
  color: white;
  position: absolute;
  width: 118px;
  top: 18px;
  text-align: center;
}

#gameHeader {
  position: absolute;
  top: 50px;
  width: 100%;
}

#HUD-right {
  color: white;
  position: absolute;
  width: 118px;
  top: 18px;
  right: 0px;
  text-align: center;
}


/* End Game Screen */
#EndGameScreen {
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  color: white;
}

#gameConsole {
  width: 100%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#exitButton2div {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 340px;
}

#exitButton2 {
  width: 12%;
}